openapi: 3.1.0
info:
  title: SRC Plus GitHub Reports
  version: 1.0.0
  description: Read-only access to public SRC Plus report files on GitHub main.
servers:
  - url: https://api.github.com
paths:
  /repos/bay-top/SRC_Plus/contents:
    get:
      operationId: listGitHubReportFiles
      summary: List root files in the public SRC Plus main branch. Filter names to reports_*.html.
      parameters:
        - name: ref
          in: query
          required: true
          schema: { type: string, enum: [main] }
      responses:
        '200':
          description: GitHub root file list.
          content:
            application/json:
              schema:
                type: object
                type: array
                items:
                  type: object
                  required: [name, path, type]
                  properties:
                    name: { type: string }
                    path: { type: string }
                    type: { type: string }
  /bay-top/SRC_Plus/main/{source_path}:
    get:
      operationId: getGitHubReportHtml
      summary: Read the full original HTML of one root-level report file from the public SRC Plus main branch.
      servers:
        - url: https://raw.githubusercontent.com
      parameters:
        - name: source_path
          in: path
          required: true
          description: The exact root-level reports_*.html path selected from listGitHubReportFiles.
          schema:
            type: string
            pattern: '^reports_.*\\.html$'
      responses:
        '200':
          description: Selected report's original raw HTML.
          content:
            text/html:
              schema:
                type: string
